* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Spartan', sans-serif;
}

body {
    position: relative;
}

nav {
    height: 10vh;
    width: 100%;
    background-color: rgba(20, 33, 61, 0.3);
    position: relative;
}

header {
    width: 100%;
    position: absolute;
}

.headText {
    margin-left: 2rem;
    color: white;
    position: absolute;
    top: 50%;
    left: 20px;
    transform: translate(-20px, -50%);
    transition: opacity 250ms ease;
    font-weight: 600;
}

.navlinks {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    list-style: none;
    height: 100%;
    width: 50%;
    margin-left: auto;
}

.navlinks li {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 250ms ease;
}

.navlinks li:hover {
    background-color: rgba(252, 162, 17, 0.5);
    transition: all 250ms ease;
}

.links {
    text-decoration: none;
    color: white;
    font-size: 1rem;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
}

.first {
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("../material/donate.jpg");
    height: 100vh;
    width: 100%;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
    color: white;
}

.first-heading {
    font-size: 2em;
}

.first-subtext {
    margin: 1em;
    font-weight: 400;
}

.text {
    color: #fca211;
}

#donate {
    font-size: 16px;
    padding: 16px;
    margin: 12px;
    margin-top: 15px;
    background-color: rgba(252, 162, 17, 0.7);
    border: none;
    font-weight: bold;
    color: black;
    text-align: center;
    text-decoration: none;
    transition: 300ms ease;
}

#donate:hover {
    transform: translate3d(0, -5px, 0);
    box-shadow: 0 2rem 5rem 0 rgba(252, 162, 17, 0.5);
    transition: 300ms ease;
}

#donate:focus {
    outline: none;
}

@media only screen and (max-width: 600px) {
    .animate {
        transform: translateY(-50px);
        opacity: 0;
    }
    .animate2 {
        transform: translateY(50px);
        opacity: 0;
    }
    .hidden {
        opacity: 0;
        pointer-events: none;
        transition: all 300ms ease;
    }
    .line {
        width: 30px;
        height: 3px;
        background: white;
        margin: 5px;
    }
    .first-heading {
        font-size: 1em;
        transition: all 500ms 0.4s;
    }
    .first-subtext {
        transition: all 500ms 0.6s;
    }
    .hamburger {
        position: absolute;
        cursor: pointer;
        right: 5%;
        top: 50%;
        transform: translate(-5%, -50%);
        z-index: 10;
    }
    .navlinks {
        position: fixed;
        height: 100vh;
        width: 100%;
        background-color: rgba(20, 33, 61, 0.85);
        flex-direction: column;
        clip-path: circle(100px at 90% -20%);
        -webkit-clip-path: circle(100px at 90% -20%);
        transition: all 1s ease-out;
        pointer-events: none;
    }
    .navlinks.open {
        clip-path: circle(1200px at 90% -20%);
        -webkit-clip-path: circle(1200px at 90% -20%);
        pointer-events: all;
    }
    .navlinks li {
        opacity: 0;
    }
    .navlinks li a {
        font-size: 25px;
    }
    .navlinks li:nth-child(1) {
        transition: all 0.5s ease 0.2s;
    }
    .navlinks li:nth-child(2) {
        transition: all 0.5s ease 0.2s;
    }
    .navlinks li:nth-child(3) {
        transition: all 0.5s ease 0.2s;
    }
    .navlinks li:nth-child(4) {
        transition: all 0.5s ease 0.2s;
    }
    li.fade {
        opacity: 1;
    }
}

@media only screen and (max-width: 400px) {
    .headText {
        font-size: 1em;
    }
    .first-heading {
        font-size: 1.5em;
    }
    .first-subtext {
        margin-top: 1rem;
        font-size: 0.5em;
    }
}
.container-contact100 {
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("../material/tim-marshall-cAtzHUz7Z8g-unsplash.jpg");
    background-size: cover;
    color: white;
    width: 100%;  
    min-height: 100vh;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    
  }
  
  .wrap-contact100 {
    width: 45%;
    background: rgb(0,0,0,0.6);
    border-radius: 30px;
    overflow: hidden;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 10px 120px 40px 128px;
  }
  
  /*------------------------------------------------------------------
  [  ]*/
  .contact100-pic {
    width: 310px;
    padding-top: 55px;
  }
  
  .contact100-pic img {
    max-width: 100%;
  }
  
  
  /*------------------------------------------------------------------
  [  ]*/
  .contact100-form {
    width: 390px;
  }
  
  .contact100-form-title {
    display: block;
    font-family: Montserrat-ExtraBold;
    font-size: 34px;
    color: #fff;
    line-height: 1.8;
    text-align: center;
    padding-bottom: 36px;
  }
  
  input.input100 {
    height: 50px;
    border-radius: 15px;
    padding: 0 30px 0 50px;
  }
  
  input.input100[name="email"] {
    padding: 0 30px 0 54px;
  }
  
  textarea.input100 {
    min-height: 150px;
    border-radius: 15px;
    padding: 14px 30px;
  }
  
  /*---------------------------------------------*/
  .wrap-input100 {
    position: relative;
    width: 100%;
    z-index: 1;
    margin-bottom: 10px;
  }
  
  .input100 {
    display: block;
    width: 100%;
    background: #e6e6e6;
    font-family: Montserrat-Bold;
    font-size: 15px;
    line-height: 1.5;
    color: #0e0101;
  }
  
  
  /*------------------------------------------------------------------
  [ Focus ]*/
  .focus-input100 {
    display: block;
    position: absolute;
    border-radius: 15px;
    bottom: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    box-shadow: 0px 0px 0px 0px;
    color: #fca211b3;
  }
  
  .input100:focus + .focus-input100 {
    -webkit-animation: anim-shadow 0.5s ease-in-out forwards;
    animation: anim-shadow 0.5s ease-in-out forwards;
  }
  @-webkit-keyframes anim-shadow {
    to {
      box-shadow: 0px 0px 0px 0px;
      opacity: 0;
    }
  }
  
  @keyframes anim-shadow {
    to {
      box-shadow: 0px 0px 0px 0px;
      opacity: 0;
    }
  }
  
  .symbol-input100 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    position: absolute;
    border-radius: 15px;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding-left: 30px;
    pointer-events: none;
    color: #070707;
    font-size: 15px;
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
  }
  
  .input100:focus + .focus-input100 + .symbol-input100 {
    color: #fca211b3;
    padding-left: 22px;
  }
  
  /*------------------------------------------------------------------
  [ Button ]*/
  .container-contact100-form-btn {
    width: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 20px;
  }
  
  .contact100-form-btn {
    width: 100%;
    height: 50px;
    border-radius: 15px;
    background:#fca211b3;
    font-family: Montserrat-Bold;
    font-size: 1.5rem;
    line-height: 1.5;
    color: #fff;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 25px;
  
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
  }
  
  .contact100-form-btn:hover {
    background: #333333;
  }
  
  /*------------------------------------------------------------------
  [ Responsive ]*/
  
  @media (max-width: 1200px) {
    .contact100-pic {
      width: 33.5%;
    }
  
    .contact100-form {
      width: 44%;
    }
  }
  
  @media (max-width: 992px) {
    .wrap-contact100 {
      padding: 110px 80px 157px 90px;
    }
  
    .contact100-pic {
      width: 35%;
    }
  
    .contact100-form {
      width: 55%;
    }
  }
  
  @media (max-width: 768px) {
    .wrap-contact100 {
      padding: 110px 80px 157px 80px;
    }
  
    .contact100-pic {
      display: none;
    }
  
    .contact100-form {
      width: 100%;
    }
  }
  
  @media (max-width: 576px) {
    .wrap-contact100 {
      padding: 110px 15px 157px 15px;
    }
  }
  