.headText {
    margin-left: 2rem;
    color: white;
    position: absolute;
    top: 50%;
    left: 20px;
    transform: translate(-20px, -50%);
    transition: opacity 250ms ease;
    font-weight: 600;
}

.donation-page {
    height: 100vh;
    width: 100%;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("../material/donate.jpg");
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
}


form {
    opacity: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    opacity: 0;
    width: 100%;
    color: rgba(252, 91, 17, 0.973);
    text-align: center;
}

.discription {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    opacity: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

h3 {
    text-align: center;
    color: white;
}

.form {
    opacity: 1;
    height: 80vh;
    width: 50%;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    box-shadow: 0 2rem 5rem 0 rgba(252, 162, 17, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    z-index: 10;
}

.form>* {
    width: 80%;
}

input {
    height: 2rem;
    color: white;
    background-color: rgba(0, 0, 0, 0.3);
}

span {
    color: rgb(197, 17, 252);
}

@media only screen and (max-width: 600px) {
    .form {
        width: 80%;
    }
}
@media only screen and (max-width: 600px) {
    .animate {
        transform: translateY(-50px);
        opacity: 0;
    }
    .animate2 {
        transform: translateY(50px);
        opacity: 0;
    }
    nav {
        height: 10vh;
        width: 100%;
        background-color: rgba(20, 33, 61, 0.3);
        position: relative;
    }
    .hidden {
        opacity: 0;
        pointer-events: none;
        transition: all 300ms ease;
    }
    .line {
        width: 30px;
        height: 3px;
        background: white;
        margin: 5px;
    }
    .first-heading {
        font-size: 1em;
        transition: all 500ms 0.4s;
    }
    .first-subtext {
        transition: all 500ms 0.6s;
    }
    .hamburger {
        position: absolute;
        cursor: pointer;
        right: 5%;
        top: 50%;
        transform: translate(-5%, -50%);
        z-index: 10;
    }
    .navlinks {
        position: fixed;
        height: 100vh;
        width: 100%;
        background-color: rgba(20, 33, 61, 0.85);
        flex-direction: column;
        clip-path: circle(100px at 90% -20%);
        -webkit-clip-path: circle(100px at 90% -20%);
        transition: all 1s ease-out;
        pointer-events: none;
    }
    .navlinks.open {
        clip-path: circle(1200px at 90% -20%);
        -webkit-clip-path: circle(1200px at 90% -20%);
        pointer-events: all;
    }
    .navlinks li {
        opacity: 0;
    }
    .navlinks li a {
        font-size: 25px;
    }
    .navlinks li:nth-child(1) {
        transition: all 0.5s ease 0.2s;
    }
    .navlinks li:nth-child(2) {
        transition: all 0.5s ease 0.2s;
    }
    .navlinks li:nth-child(3) {
        transition: all 0.5s ease 0.2s;
    }
    .navlinks li:nth-child(4) {
        transition: all 0.5s ease 0.2s;
    }
    li.fade {
        opacity: 1;
    }
}